            /*Eliminar el formato de toda la pagina*/
            html,body,h1,h2,h3,p,ul,ol,li,a{
                padding:0;
                margin:0;
                border:0;
            }
            
            body{
                padding:30px 30px 30px 30px;
            }
            
            h1{
                color: white;
                font-size: 48px;
                margin:10px 0 15px 0;
                text-align:center;
            }
            
            h2 {
                color:#87CEEB;
                padding:6px 3px 0 0;
                border-bottom:5px solid #1E90FF;
                margin:20px 0 20px 0;
                font-size: 40px;
                text-align:center;
            }
            
            h3 {
                color: #3E3A62;
                font-size: 20px;
                padding: 6px 3px 0px 0px;
                text-align:center;
                text-decoration:overline;
            }
            
            h4 {
                color: #F61478;
                font-size: 22px;
                padding: 6px 3px 0px 25px;
                text-decoration:underline;
                text-align:left;
            }
            
            p{
                font-size: 16px; 
                padding:0 15px 0 15px;
                color: #574E51;
                font-family: arial; 
                text-decoration: none ; 
                text-align:justify;
            }
            
            ol li{
                color: #778899;
            }
            
            ol{
                font-size:24px;
            }
            
            ul{
                font-size:24;
                list-style:none;
                padding:0 0 8px 20px;
            }
            
            ul li{
                font-size: 25px;
                text-align:center;
            }

            .nav{
                text-align:center;
                margin:0 10px 0 10px;
                background:#516973;
                border-radius: 20px;
            }
            
            .nav li{
                margin:0 50px 0 50px;
                text-decoration:none;
                list-style-type:none;
                display:inline;
                padding:10px 22px 15px 20px;
                border-radius: 25px;
                background: -webkit-gradient(linear, 0 0, 0 100%, from(#78C1E1), to(#285365));
                background: -moz-linear-gradient(#78C1E1, #285365);
                background: -webkit-linear-gradient(#78C1E1, #285365);
                background: -o-linear-gradient(#78C1E1, #285365);
                background: linear-gradient(#78C1E1, #285365);
            }
            
            .nav a{
                color: #993300;
                text-decoration:none;
                font-size:20px;
            }
            
            .header {
                background-color:#993300;
                text-align:center;
                margin:auto;
            }
            
            .header a{
                color:yellow;
            }

            .icon{
                padding:25px 0 0 0;
                display:block;
                margin:auto;
                width:500px;
                height:100px;
            }
            .back{
                display:block;
                margin:auto;
                width:50px;
                height:50px;
            }
            
            .main-cont{
                padding:0;
                border: 2px solid #DDDDDD;
                margin: 25px auto 0 auto;
                background: -webkit-gradient(linear, 0 0, 0 100%, from(gray), to(white));
                background: -moz-linear-gradient(gray, white);
                background: -webkit-linear-gradient(gray, white);
                background: -o-linear-gradient(gray, white);
                background: linear-gradient(gray, white);
            }

            .main-cont a{
                color: #993300;
                text-decoration:none;
                font-size:20px;
                display:block;
            }
            .main-cont p{
                color: #6F4351;
                text-decoration:none;
                font-size:20px;
                display:block;
            }
            
            
            .imagen {
                display:block;
                margin:auto;
                width:400px;
                height:250px;
            }
            
            .imagen1 {
                margin:auto;
                width:500px;
                height:600px;
            }
            
            .pelicula{
                margin:auto;
                width:200px;
                height:200px;
                border-radius: 360px;
            }
            
            .biografias{
                width:150px;
                height:150px;
                float:left;
                clear: both;
                border-radius: 360px;
                display:block;
            }