<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
	<connectionStrings>
  <add name="DBCS" connectionString="Data Source=FREDYSANCHEZ\SQLEXPRESS;Initial Catalog=INSTITUTO;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="INSTITUTOConnectionString" connectionString="Data Source=FREDYSANCHEZ\SQLEXPRESS;Initial Catalog=INSTITUTO;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
