CREATE DATABASE [epn.inventarioEquipos]
GO
USE [epn.inventarioEquipos]
GO
USE [epn.inventarioEquipos]
GO
/****** Object:  Schema [registro]    Script Date: 01/31/2016 17:28:24 ******/
CREATE SCHEMA [registro] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [mantenimiento]    Script Date: 01/31/2016 17:28:24 ******/
CREATE SCHEMA [mantenimiento] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [compra]    Script Date: 01/31/2016 17:28:24 ******/
CREATE SCHEMA [compra] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [bajas]    Script Date: 01/31/2016 17:28:24 ******/
CREATE SCHEMA [bajas] AUTHORIZATION [dbo]
GO
/****** Object:  Table [mantenimiento].[ESTADO_EQUIPO]    Script Date: 01/31/2016 17:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mantenimiento].[ESTADO_EQUIPO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADO_EQUIPO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [mantenimiento].[TECNICO]    Script Date: 01/31/2016 17:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mantenimiento].[TECNICO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TECNICO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [registro].[RESPONSABLE]    Script Date: 01/31/2016 17:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [registro].[RESPONSABLE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RESPONSABLE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [compra].[PROVEEDOR]    Script Date: 01/31/2016 17:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [compra].[PROVEEDOR](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [mantenimiento].[TIPO_MANTENIMIENTO]    Script Date: 01/31/2016 17:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mantenimiento].[TIPO_MANTENIMIENTO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_MANTENIMIENTO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [registro].[TIPO_EQUIPO]    Script Date: 01/31/2016 17:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [registro].[TIPO_EQUIPO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_EQUIPO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [registro].[TIPO_COMPONENTE]    Script Date: 01/31/2016 17:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [registro].[TIPO_COMPONENTE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTipoEquipo] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_COMPONENTE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [registro].[EQUIPO]    Script Date: 01/31/2016 17:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [registro].[EQUIPO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idEstado] [int] NOT NULL,
	[idProveedor] [int] NOT NULL,
	[idTipoEquipo] [int] NOT NULL,
	[marca] [nvarchar](50) NOT NULL,
	[modelo] [nvarchar](50) NOT NULL,
	[fechaCompra] [date] NOT NULL,
	[valorCompra] [money] NOT NULL,
 CONSTRAINT [PK_EQUIPO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [mantenimiento].[MANTENIMIENTO]    Script Date: 01/31/2016 17:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mantenimiento].[MANTENIMIENTO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTipoMantenimiento] [int] NOT NULL,
	[idEquipo] [int] NOT NULL,
	[idTecnico] [int] NOT NULL,
	[fechaMantenimiento] [datetime] NOT NULL,
 CONSTRAINT [PK_MANTENIMIENTO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [registro].[COMPONENTES]    Script Date: 01/31/2016 17:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [registro].[COMPONENTES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idEquipo] [int] NOT NULL,
	[idTipoComponente] [int] NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_COMPONENTES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [registro].[ASIGNACION]    Script Date: 01/31/2016 17:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [registro].[ASIGNACION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idEquipo] [int] NOT NULL,
	[idResponsable] [int] NOT NULL,
	[fechaAsignacion] [date] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ASIGNACION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [mantenimiento].[MANTENIMIENTO_REEPLAZO_COMPONENTES]    Script Date: 01/31/2016 17:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mantenimiento].[MANTENIMIENTO_REEPLAZO_COMPONENTES](
	[idMantenimiento] [int] NOT NULL,
	[idComponenteReemplazado] [int] NOT NULL,
	[observaciones] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MANTENIMIENTO_REEPLAZO_COMPONENTES] PRIMARY KEY CLUSTERED 
(
	[idMantenimiento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_TIPO_COMPONENTE_TIPO_EQUIPO]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [registro].[TIPO_COMPONENTE]  WITH NOCHECK ADD  CONSTRAINT [FK_TIPO_COMPONENTE_TIPO_EQUIPO] FOREIGN KEY([idTipoEquipo])
REFERENCES [registro].[TIPO_EQUIPO] ([id])
NOT FOR REPLICATION
GO
ALTER TABLE [registro].[TIPO_COMPONENTE] NOCHECK CONSTRAINT [FK_TIPO_COMPONENTE_TIPO_EQUIPO]
GO
/****** Object:  ForeignKey [FK_EQUIPO_ESTADO_EQUIPO]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [registro].[EQUIPO]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPO_ESTADO_EQUIPO] FOREIGN KEY([idEstado])
REFERENCES [mantenimiento].[ESTADO_EQUIPO] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [registro].[EQUIPO] CHECK CONSTRAINT [FK_EQUIPO_ESTADO_EQUIPO]
GO
/****** Object:  ForeignKey [FK_EQUIPO_PROVEEDOR]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [registro].[EQUIPO]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPO_PROVEEDOR] FOREIGN KEY([idProveedor])
REFERENCES [compra].[PROVEEDOR] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [registro].[EQUIPO] CHECK CONSTRAINT [FK_EQUIPO_PROVEEDOR]
GO
/****** Object:  ForeignKey [FK_EQUIPO_TIPO_EQUIPO]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [registro].[EQUIPO]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPO_TIPO_EQUIPO] FOREIGN KEY([idTipoEquipo])
REFERENCES [registro].[TIPO_EQUIPO] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [registro].[EQUIPO] CHECK CONSTRAINT [FK_EQUIPO_TIPO_EQUIPO]
GO
/****** Object:  ForeignKey [FK_MANTENIMIENTO_EQUIPO]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [mantenimiento].[MANTENIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MANTENIMIENTO_EQUIPO] FOREIGN KEY([idEquipo])
REFERENCES [registro].[EQUIPO] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [mantenimiento].[MANTENIMIENTO] CHECK CONSTRAINT [FK_MANTENIMIENTO_EQUIPO]
GO
/****** Object:  ForeignKey [FK_MANTENIMIENTO_TECNICO]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [mantenimiento].[MANTENIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MANTENIMIENTO_TECNICO] FOREIGN KEY([idTecnico])
REFERENCES [mantenimiento].[TECNICO] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [mantenimiento].[MANTENIMIENTO] CHECK CONSTRAINT [FK_MANTENIMIENTO_TECNICO]
GO
/****** Object:  ForeignKey [FK_MANTENIMIENTO_TIPO_MANTENIMIENTO]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [mantenimiento].[MANTENIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MANTENIMIENTO_TIPO_MANTENIMIENTO] FOREIGN KEY([idTipoMantenimiento])
REFERENCES [mantenimiento].[TIPO_MANTENIMIENTO] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [mantenimiento].[MANTENIMIENTO] CHECK CONSTRAINT [FK_MANTENIMIENTO_TIPO_MANTENIMIENTO]
GO
/****** Object:  ForeignKey [FK_COMPONENTES_EQUIPO]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [registro].[COMPONENTES]  WITH CHECK ADD  CONSTRAINT [FK_COMPONENTES_EQUIPO] FOREIGN KEY([idEquipo])
REFERENCES [registro].[EQUIPO] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [registro].[COMPONENTES] CHECK CONSTRAINT [FK_COMPONENTES_EQUIPO]
GO
/****** Object:  ForeignKey [FK_COMPONENTES_TIPO_COMPONENTE]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [registro].[COMPONENTES]  WITH CHECK ADD  CONSTRAINT [FK_COMPONENTES_TIPO_COMPONENTE] FOREIGN KEY([idTipoComponente])
REFERENCES [registro].[TIPO_COMPONENTE] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [registro].[COMPONENTES] CHECK CONSTRAINT [FK_COMPONENTES_TIPO_COMPONENTE]
GO
/****** Object:  ForeignKey [FK_ASIGNACION_EQUIPO]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [registro].[ASIGNACION]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_EQUIPO] FOREIGN KEY([idEquipo])
REFERENCES [registro].[EQUIPO] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [registro].[ASIGNACION] CHECK CONSTRAINT [FK_ASIGNACION_EQUIPO]
GO
/****** Object:  ForeignKey [FK_ASIGNACION_RESPONSABLE]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [registro].[ASIGNACION]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_RESPONSABLE] FOREIGN KEY([idResponsable])
REFERENCES [registro].[RESPONSABLE] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [registro].[ASIGNACION] CHECK CONSTRAINT [FK_ASIGNACION_RESPONSABLE]
GO
/****** Object:  ForeignKey [FK_MANTENIMIENTO_REEPLAZO_COMPONENTES_COMPONENTES]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [mantenimiento].[MANTENIMIENTO_REEPLAZO_COMPONENTES]  WITH NOCHECK ADD  CONSTRAINT [FK_MANTENIMIENTO_REEPLAZO_COMPONENTES_COMPONENTES] FOREIGN KEY([idComponenteReemplazado])
REFERENCES [registro].[COMPONENTES] ([id])
NOT FOR REPLICATION
GO
ALTER TABLE [mantenimiento].[MANTENIMIENTO_REEPLAZO_COMPONENTES] NOCHECK CONSTRAINT [FK_MANTENIMIENTO_REEPLAZO_COMPONENTES_COMPONENTES]
GO
/****** Object:  ForeignKey [FK_MANTENIMIENTO_REEPLAZO_COMPONENTES_MANTENIMIENTO]    Script Date: 01/31/2016 17:28:26 ******/
ALTER TABLE [mantenimiento].[MANTENIMIENTO_REEPLAZO_COMPONENTES]  WITH CHECK ADD  CONSTRAINT [FK_MANTENIMIENTO_REEPLAZO_COMPONENTES_MANTENIMIENTO] FOREIGN KEY([idMantenimiento])
REFERENCES [mantenimiento].[MANTENIMIENTO] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [mantenimiento].[MANTENIMIENTO_REEPLAZO_COMPONENTES] CHECK CONSTRAINT [FK_MANTENIMIENTO_REEPLAZO_COMPONENTES_MANTENIMIENTO]
GO


/****** Insercion de Datos ******/
INSERT INTO compra.PROVEEDOR VALUES('Jose','Ayala')
INSERT INTO compra.PROVEEDOR VALUES('Maria','Aldaz')
INSERT INTO compra.PROVEEDOR VALUES('Bryan','Cruz')

INSERT INTO registro.TIPO_EQUIPO VALUES('Computador de Escritorio')
INSERT INTO registro.TIPO_EQUIPO VALUES('Impresora')
INSERT INTO registro.TIPO_EQUIPO VALUES('Proyector')

INSERT INTO mantenimiento.TECNICO VALUES('Pablo','Teran')
INSERT INTO mantenimiento.TECNICO VALUES('Susana','Garcia')
INSERT INTO mantenimiento.TECNICO VALUES('Ambar','Lescano')

INSERT INTO registro.RESPONSABLE VALUES('Marco','Perez')
INSERT INTO registro.RESPONSABLE VALUES('Lorena','Palomino')
INSERT INTO registro.RESPONSABLE VALUES('Iris','Castro')

INSERT INTO mantenimiento.ESTADO_EQUIPO VALUES('Bueno')
INSERT INTO mantenimiento.ESTADO_EQUIPO VALUES('En Reparacion')
INSERT INTO mantenimiento.ESTADO_EQUIPO VALUES('Malo')
                   	   		
INSERT INTO registro.EQUIPO VALUES(1,1,1,'Dell','Dell Inspiron One 2320','2014-01-25',500.0000)
INSERT INTO registro.EQUIPO VALUES(1,2,1,'Dell','Dell Inspiron One 2320','2014-02-25',500.0000)
INSERT INTO registro.EQUIPO VALUES(1,2,1,'Dell','Dell XPS One 27 Touch','2014-03-25',469.9900)

INSERT INTO registro.ASIGNACION VALUES (1,1,'2014-01-28',1)
INSERT INTO registro.ASIGNACION VALUES (2,1,'2014-02-27',1)
INSERT INTO registro.ASIGNACION VALUES (3,1,'2014-03-30',1)

INSERT INTO mantenimiento.TIPO_MANTENIMIENTO VALUES ('Preventivo')
INSERT INTO mantenimiento.TIPO_MANTENIMIENTO VALUES ('Correctivo')

INSERT INTO mantenimiento.MANTENIMIENTO VALUES(1,1,1,'2015-01-25')
INSERT INTO mantenimiento.MANTENIMIENTO VALUES(1,1,1,'2015-01-31')
INSERT INTO mantenimiento.MANTENIMIENTO VALUES(1,2,1,'2015-02-25')

INSERT INTO registro.TIPO_COMPONENTE VALUES(1,'Memoria')
INSERT INTO registro.TIPO_COMPONENTE VALUES(1,'Fuente de Poder')
INSERT INTO registro.TIPO_COMPONENTE VALUES(1,'Disco Duro')



/****** Seleccion de las tablas ******/
SELECT * FROM   compra.PROVEEDOR 
SELECT * FROM   mantenimiento.ESTADO_EQUIPO
SELECT * FROM mantenimiento.MANTENIMIENTO
SELECT * FROM mantenimiento.TECNICO
SELECT * FROM  mantenimiento.TIPO_MANTENIMIENTO 
SELECT * FROM registro.ASIGNACION
SELECT * FROM registro.COMPONENTES
SELECT * FROM registro.EQUIPO
SELECT * FROM registro.RESPONSABLE
SELECT * FROM   registro.TIPO_COMPONENTE 
SELECT * FROM registro.TIPO_EQUIPO