<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 transferMode="Streamed"
                 crossDomainScriptAccessEnabled="true">
          <readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="epn.inventarios.services.CatalogosServises">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="web" bindingConfiguration="crossDomain" contract="epn.inventarios.services.ICatalogosServises"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="epn.inventarios.services.EquipoServises">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="web" bindingConfiguration="crossDomain" contract="epn.inventarios.services.IEquipoServises"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="epn.inventarios.services.ComponenteServises">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="web" bindingConfiguration="crossDomain" contract="epn.inventarios.services.IComponenteServises"/>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <connectionStrings>
    <add name="csEpnInventario" connectionString="metadata=res://*/epn.inventarios.csdl|res://*/epn.inventarios.ssdl|res://*/epn.inventarios.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=FREDYSANCHEZ\SQLEXPRESS;Initial Catalog=epn.inventarios;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
